#root {
  margin: 0;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
}

.container{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurred {
  filter: blur(1px);
  pointer-events: none;
}

.popup-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tasklist{
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
  padding: 30px 60px;
  gap: 3rem;
}

.header{
  display: flex;
  justify-content: space-between;
}

.logo{
  color: #242424;
  font-size: 2.5rem;
  font-weight: 800;
}

.addtask {
  display: flex;
  align-items: center;
  background-color: rgb(114, 64, 255);
  padding: 0px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: 1px 3px 3px 1px rgb(114, 64, 255, 0.2), 0px 2px 2px 0px rgb(114, 64, 255, 0.12);
  cursor: pointer;
}

.addtask::before {
    content: "+";
    font-size: 2.25rem;
    font-weight: 100;
    margin-right: 10px;
}

.card-list{
  display: flex;
  flex-direction: column;
  gap: 20px
}

.no-task{
  display: flex;
  justify-content: center;
  color: #242424;
  font-size: 1.5rem;
}

.pages{
  display: flex;
  justify-content: right;
  gap: 10px;
}
.prev{
  background-color: rgb(114, 64, 255);
  padding: 3px 6px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}
.pageValue{
  color: #000;
  padding: 3px 6px;
  font-size: 1.2rem;
  font-weight: 600;
}
.next{
  background-color: rgb(114, 64, 255);
  padding: 3px 6px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}