.addTask{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: black;
    width: 400px;
    padding: 15px 50px 30px;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.top .closeButton{
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main p{
    color: #d1d1d1;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}
.main input{
    margin-top: 5px;
    padding: 10px 15px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.main input::placeholder{
    color: #6d6d6d;
}

.priorityButtons{
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.priorityButtons .high{
    color: red;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 10px;
}
.priorityButtons .high-selected{
    color: white;
    background: red;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}
.priorityButtons .medium{
    color: orange;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 10px;
}
.priorityButtons .medium-selected{
    color: white;
    background: orange;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}
.priorityButtons .low{
    color: green;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid green;
    border-radius: 10px;
}
.priorityButtons .low-selected{
    color: white;
    background: green;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
}

.addButton{
    margin-top: 20px;
    margin-left: auto;
    background-color: rgb(114, 64, 255);
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 1px 3px 3px 1px rgb(114, 64, 255, 0.2), 0px 2px 2px 0px rgb(114, 64, 255, 0.12);
    cursor: pointer;
}